.consolas-regular {
    font-family: 'Consolas Regular' !important;
}

.consolas-italic {
    font-family: 'Consolas Italic' !important;
}

.consolas-bold {
    font-family: 'Consolas Bold' !important;
}