@font-face {
    font-family: 'Quicksand Regular';
    src: url('../../../fonts/quicksand/Quicksand-Regular.ttf');
}

.quicksand-regular {
    font-family: 'Quicksand Regular' !important;
}

@font-face {
    font-family: 'Quicksand Bold';
    src: url('../../../fonts/quicksand/Quicksand-Bold.ttf');
}

.quicksand-bold {
    font-family: 'Quicksand Bold' !important;
}